{% extends 'base.html' %}

{% block content %}

<div class="pt-5 my-5">
  <h1 class="text-center">{% block title %}使用者合約{% endblock %}</h1>
</div>

<div class="col-11 col-lg-6 pt-3 pb-5 mx-auto">
<div>
<p><strong>電動滑板車租賃系統BUBU E-Scooter會員定型化契約</strong></p>
</div>

<p>生效日期：2024 年 2 月 17 日</p>
<p>
請您在使用 BUBU 服務前，仔細閱讀以下使用條款與條件 (以下稱為「使用者合約」) 。此使用者合約為您使用步同步移動股份有限公司所提供的 BUBU 服務時必須遵守的規定。您瞭解並同意，當您開始使用 BUBU 服務時，即表示您已同意本合約之內容。若您不同意本合約全部或一部內容，請勿使用。
</p><p>
本使用者合約及相關管理規範、政策，如有修正，本公司將隨時於此網站公告，請您務必隨時檢視本使用者合約並詳閱，如您於修正使用者合約公布後，仍持續進入並使用本公司之服務，即代表您已詳讀內容並同意遵守修正後之使用者合約。
</p><p>
您瞭解並同意，當您進入並使用本公司之服務時，必須遵守所有相關條款、管理規範與協議，以及任何未來的修正內容，以上所有規範構成您與本網站間之契約合意，您同意受其拘束，具有法律效力。
</p><p>
第一條  名詞定義
</p><p>
（一）本公司：步同步移動股份有限公司（統一編號：93770828）
</p><p>
（二）透過本公司所擁有之品牌「BUBU」，以 LINE 官方帳號做為主要平台所提供之智慧租賃服務：BUBU E-Scooter。
</p><p>
（三）會員：指於 BUBU 官方網站、LINE 官方帳號等完成註冊程序者。
</p><p>
（四）租車：指會員於本公司提供本服務之智慧電動滑板車站點，使用 LINE 官方帳號租借智慧電動滑板車使用之謂。
</p><p>
（五）還車：指會員將智慧電動滑板車歸還於本公司有提供本服務之智慧電動滑板車站點，並使用系統指定之電子支付方式完成扣款繳費之謂。
</p><p>
（六）BUBU：指由本公司提供之車身色系為黑色搭配黃色，輔以 BUBU 字樣之智慧電動滑板車。
</p><p>
（七）停車區域：指本公司以 Google Map 經緯度劃設之虛擬停車區塊，詳見連結：www.ridebubu.com/parking
</p><p>
（八）隱私權政策：請見連結 https://ridebubu.com/support/privacy-policy/
</p><p>
（九）官網：指本服務網站 https://ridebubu.com
</p><p>
（九）官方帳號：LY Corporation 的 LINE 軟體上的本服務官方帳號 BUBU E-Scooter
</p><p>
第二條  個資規範
</p><p>
（一）個人資料蒐集的類別
</p><p>
依「個人資料保護法」規定，會員為使用本服務提供本公司之個人資料類別包括行動電話及電子郵件地址。
</p><p>
（二）個人資料蒐集的目的
</p><p>
依「個人資料保護法之特定目的及個人資料之類別」，會員的個人資料將使用目的包括：(001)人身保險、(063)非公務機關依法定義務所進行個人資料之蒐集處理及利用、(069)契約、類似契約或其他法律關係事務、(090)消費者、客戶管理與服務、(135)資（通）訊服務、(136)資（通）訊與資料庫管理、(137)資通安全與管理、(157)調查、統計與研究分析、(181) 其他經營合於營業登記項目或組織章程所定之業務。
</p><p>
（三）個人資料利用之期間
</p><p>
特定目的存續期間。
</p><p>
依相關法令規定或本公司執行業務所必須訂之，並以期限較長者為準。
</p><p>
（四）個人資料利用之地區：臺灣地區
</p><p>
（五）個人資料利用之對象及方式
</p><p>
會員之個人資料，將依前項蒐集目的範圍內，供本公司、主管機關、關係企業及合作夥伴內部使用。
</p><p>
方式：以自動化機器或其他非自動化之利用方式。
</p><p>
（六）個人資料之查詢、閱覽及刪除：

          依個人資料保護法第三條規定，會員得向本公司：
</p><p>
查詢或請求閱覽其個人資料。
</p><p>
請求製給其個人資料之複製本。
</p><p>
請求補充或更正其個人資料。
</p><p>
請求停止蒐集、利用或處理其個人資料。
</p><p>
請求刪除其個人資料。
</p><p>
（七）若不提供個人資料所致權益之影響：
</p><p>
您可自由選擇是否提供相關個人資料，惟若拒絕提供相關個人資料，將無法註冊為本公司之會員，並無法獲得相關服務。
</p><p>
第三條  電子票證及電子支付使用
</p><p>
會員於完成本服務之註冊程序後，應負責維持電子票證及電子支付之機密安全，並同意以下事項：
</p><p>
（一）不得以竊盜、冒用等不當手法取得電子票證號碼或電子支付帳號。
</p><p>
（二）電子票證、電子支付或其電子錢包遭到盜用或發生其他任何安全問題時，將立即通知本公司。
</p><p>
（三）本公司金流系統係由第三方金流服務公司提供，並由該司保管敏感資料，本公司不負保管責任。為確保交易安全，本公司並不直接向使用者要求付款，僅提供付款連結，使用者必須直接在第三方金流服務公司付款，本公司僅向第三方金流服務公司請款，因此不會儲存您任何付款方式的敏感資料。
</p><p>
第四條  第三方連結
</p><p>
若 BUBU 服務包含連接至其他網站或第三方所提供之服務或網路資源的連結（下稱「第三方連結」），該等連結僅供您方便所設，不得解釋為 BUBU 與該等網站、服務或網路資源之所有者或經營者間存有任何關聯，該等網站、服務或網路資源之內容亦非 BUBU 所得控制，BUBU 不為第三方連結或其內容之功能性、正確性、合法性或合適性等提供任何保證及擔保，若您連接至該等網站、服務或網路資源，應自行承擔一切風險，BUBU 就您因使用該等網站、服務或網路資源所生或與之相關的一切損害（失）皆不負任何賠（補）償責任。
</p><p>
第五條  發票
</p><p>
本公司將依法就您所支付的費用開立電子發票，並將電子發票存於您綁定的手機條碼載具，或是您指定受捐贈機關或團體的捐贈碼，系統亦會以電子郵件寄送發票開立通知予您，因此將不提供紙本發票。
</p><p>
第六條  兒童及青少年等保護 
</p><p>
依民法規定屬無行為能力、限制行為能力或受輔助宣告之會員，應經法定代理人、輔助人閱讀、瞭解並同意本契約之所有內容後，方得使用本服務。前開會員於使用本服務時，本公司即推定會員之法定代理人、輔助人已閱讀、瞭解並同意接受本契約之約束。
</p><p>
第七條  使用服務及騎乘注意事項
</p><p>
（一）經完成註冊而成為會員者，僅屬取得使用本服務之資格，本公司不保證會員可隨時租車與還車。如因此致生之任何損害，均與本公司無涉。
</p><p>
（二）會員有效使用期限自註冊完成之日起，至本契約第七條規定之事由成就或本服務經主管機關命本公司終止提供服務之日止。
</p><p>
（三）本服務所提供之自行車，僅適於 16 歲以上之人使用，未達於此限制之人不得租車使用，如因此致生損害者，本公司不負任何賠償責任。
</p><p>
（四）會員不得以任何非法目的或方式使用本服務，應遵守中華民國相關法規及道路騎乘之慣例，在秉持尊重路權，相互禮讓之前提下騎乘，並依以下原則使用本服務：
</p><p>
應確保自身安全騎乘之條件，會員於精神狀態及體能條件不足以安全順利騎乘時，應避免租借或停止租借。
</p><p>
遵守「道路交通管理處罰條例」第三章慢車、「道路交通安全規則」第五章慢車規定。
</p><p>
遵守道路交通標誌、標線、號誌之指示。
</p><p>
留意騎乘電動滑板車時不應侵入快車道行駛，不得在禁止穿越地段穿越道路。
</p><p>
騎乘時，應保持環境警覺，注意路況並維持適當行車安全距離。
</p><p>
煞車操作先煞後輪減速後，再煞前輪，儘量避免緊急煞車，以保持騎乘舒適及安全。
</p><p>
雨天路面濕滑及下坡之情形下，放慢行車速度。
</p><p>
行駛時，不爭先、爭道、並行競駛或以其他危險方式駕駛。
</p><p>
超車時，應在慢車道可容超越前車之處，使得沿車左邊超越，再駛入原行路線。
</p><p>
會員不得利用本服務從事侵害他人權益或違法之行為，並配合公平使用租賃原則，不以投機方式連續或長期佔用，造成其他使用者的不便。
</p><p>
會員於租車前應依本公司官方網站、官方帳號之說明及指示，檢查電動滑板車是否可正常使用，若有異常者，應避免租借；租借後發現電動滑板車有故障或異常情事者，應立即連絡客服人員尋求協助，本公司就該次租賃不予收費。
</p><p>
（五）違反上述規定者 BUBU 除將立即暫停服務並即時收回車輛、終止您的使用者帳號外，並得就因此所生或與之相關的損害（失），向您請求賠（補）償，包括但不限於營業損失等。
</p><p>
（六）如您於長時間使用 BUBU 服務且逾越正常合理使用期間，本公司將以簡訊通知以及電話聯繫，確認您是否仍正在使用 BUBU 服務，如您未於收受簡訊或電話通知回覆確認仍在使用 BUBU 服務，或未回應前述簡訊、未接通電話，均構成前述違反公平使用原則，長期佔用電動滑板車，妨礙其他使用者租借電動滑板車之情形，BUBU 除得向您收取已發生之費用（包含但不限於租金等），並得依上開規定處理。
</p><p>
（七）您認知如違反公平使用原則之情形，經 BUBU 暫停或終止服務，如車輛最後停放位置，係於 BUBU 服務地區以外，BUBU 將向您收取因而產生車輛調度處理費、停車費、過路通行費、營業損失及因而衍生之其他必要費用。
</p><p>
（八）您瞭解並同意，BUBU 服務系統運作可能因電信業者或收單業者所提供之網路系統軟硬體設備故障、天災或其他不可抗力因素而出現中斷、故障、延遲、資料傳輸或儲存錯誤之情形，若您因此無法租借電動滑板車或即時完成還車程序，而導致行程延誤等情形，BUBU 恕不負相關責任，但 BUBU 將保留減免該次租借相關費用（包括但不限於租金）之權利。
</p><p>
（九）會員於租借期間不慎將電動滑板車遺失者，除有不能向警察機關報案之情形外，應盡速就近向警察機關完成報案程序，並將報案證明提供與本公司，及支付自租車起至遺失時間（依報案證明所載）之租借費用，租賃關係始即終止。因可歸責於會員或本契約第十一條第（三）項所指第三人之事由，且該電動滑板車自遺失日起逾三個月未尋回者，會員應按 BUBU E-Scooter 車款新臺幣25,000元之標準賠付本公司。如嗣後車輛尋回並歸還予本公司者，本公司將以會員已賠償之金額為限、扣除車輛必要之維護檢修費用後，無息返還會員剩餘金額。
</p><p>
（十）會員應以電子票證或電子支付方式支付租金。會員應至本公司 LINE 官方帳號註冊會員，至場站設備租借車輛。一帳號對一車，不得重複取車。
</p><p>
（十一）本電動滑板車僅限單人騎乘，不得搭載乘客、超載或改裝車輛，亦不得載送下列物品：
</p><p>
違禁品。
</p><p>
危險品。
</p><p>
不潔或易污損電動滑板車之物品。
</p><p>
不適宜隨車之動物。
</p><p>
影響騎乘安全之物品。
</p><p>
（十二）非經本公司事前書面同意，會員不得將電動滑板車使用於行銷、廣告、宣傳、影劇拍攝、產品展示等商業性或非商業性之用途。
</p><p>
（十三）電動滑板車發生擦撞或毀損致會員或第三人身體傷亡或財物損失時，除有不能向警察機關報案之情形外，會員應立即報案並通知本公司後，租賃關係即為終止。事故原因可歸責於會員時，會員應負擔法律及賠償責任。因可歸責於會員之事由致本電動滑板車毀損者，會員應負賠償責任。
</p><p>
（十四）使用本服務期間如發生交通事故時，應立即撥打110報警及通知本公司，並為拍照存證、移置車輛等必要處置，以免阻礙交通及再次發生事故。如有傷亡情事，請立即撥打119尋求協助。因該事故所生之救援費、修理費、自行車修理期間之租金，及造成第三人之一切損害，應由會員負擔之。
</p><p>
（十五）會員使用本電動滑板車應盡善良管理人注意義務保管之責，禁止出賣、質押、典當或自行修護等行為。遺失期間之電動滑板車，由本公司進行協尋公示，其所有權仍歸本公司，經尋獲者亦同。
</p><p>
（十六）本公司就本服務已投保產品責任險，以保障騎乘者之權益：
</p><p>
每一個人身體傷害新台幣 200 萬元。
</p><p>
每一意外事故身體傷害新台幣 800 萬元。
</p><p>
每一意外事故財務損失新台幣 200萬元。
</p><p>
保險期間內之累積保險金額達新台幣 2000 萬元。
</p><p>
第八條  扣款辦法及費率
</p><p>
（一）依官方網站（www.ridebubu.com）公告為準。
</p><p>
第九條  服務變更、終止、暫停或中斷
</p><p>
（一）本公司保留依法及按主管機關命令而變更服務內容之權利。
</p><p>
（二）會員需隨時確保個人資料之正確性及完整性，如有登錄不實、不完整或錯誤者，其所致生之損害或不利益除應由會員自行承擔外，本公司亦得暫停或終止會員使用本服務之全部或一部。
</p><p>
（三）會員如違反中華民國法律、本契約規定者，本公司得逕行終止或暫停會員使用本服務之權限；如因此致本公司受有損害者，會員應負擔損害賠償責任。
</p><p>
（四）本公司於接獲會員本人、代理人或受託人之通知、或經政府機關之命令、或依相關法規規定、或會員連續二年以上未使用本服務者，本公司得終止會員帳號權限，並得刪除帳號相關資料及交易紀錄。
</p><p>
（五）會員不得將會員資格轉讓予第三人。
</p><p>
第十條  廣告
</p><p>
（一）會員在本服務中瀏覽到的所有廣告內容、文字與圖片之說明、展示樣品或其他銷售資訊，除本公司明知或可得而知該廣告有不實之情事而仍為刊登者外，本公司不為此負擔任何賠償責任。
</p><p>
（二）本公司以車體及其曝光提供之廣告服務，並不以使用者騎乘而產生利益。
</p><p>
第十一條  智慧財產權
</p><p>
（一）本公司所使用之硬體、軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由本公司或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。
</p><p>
（二）會員欲引用或轉載前項所載內容，應依法取得本公司或其他權利人事前書面同意。如有違反，會員應依法負損害賠償責任。
</p><p>
（三）本公司及其關係企業為行銷宣傳本服務，就本服務相關之商品或服務名稱、圖樣、呈現等（以下稱「BUBU 商標」），依其註冊或使用之狀態，受商標法及公平交易法等相關法律之保護，未經本公司事前書面同意，任何人不得基於營利目的使用「BUBU 商標」。
</p><p>
第十二條  契約效力
</p><p>
（一）會員於使用本服務時，即視為會員已閱讀、瞭解並同意接受本契約之全部內容。
</p><p>
（二）非屬完全行為能力人之會員，除應經法定代理人或監護人閱讀、瞭解並同意本服務條款之所有內容後，始得使用本服務外，亦有前項之適用。
</p><p>
（三）會員如將完成註冊之電子票證/電子支付帳號或本服務提供之電動滑板車，借、讓予第三人使用者，除應擔保該第三人知悉、同意本契約之內容外，並應與該第三人就本契約所生之義務負連帶責任。
</p><p>
（四）依本契約所載之會員權利義務，除電子票證/電子支付之使用規範外，單次使用者均準用之。
</p><p>
第十三條  契約增訂、修改及終止
</p><p>
本契約如有增訂、修改或終止者，本公司將於本服務之網站及 LINE 官方帳號公告，並以適當方式通知之。
</p><p>
第十四條  準據法及管轄法院
</p><p>
（一）本契約之解釋與適用，以及與本契約有關之爭議，悉依中華民國法律適用辦理，並以臺灣臺北地方法院為第一審管轄法院。
</p><p>
（二）本公司未行使或執行本契約任何權利或規定，不構成前開權利或規定之棄權。若任何本契約規定，經有管轄權之法院認定無效者，其餘部分仍應存續且有效。
</p><p>
第十五條  不可抗力之因素
</p><p>
如遇任何超出合理控制範圍的事件、情況或不可抗力而未能履行本協議項下的義務，本公司不承擔任何有關責任，包括（但不限於）火災、洪水、極端天氣、傳染病或流行病、罷工、封鎖或缺乏營運資源或原材料等不可抗力之因素。
</p><p>
第十六條  責任範圍
</p><p>
（一）本公司經由本網站提供之各項服務僅承擔本使用者合約中所列明的相關責任。
</p><p>
（二）本網站上之資訊，均僅供參考，使用者就本服務所涉相關資料之正確性或可信性，應自行判斷、評估並自負風險。使用者藉由本服務取得各式資訊與資料所進行之任何合作，本公司均不擔保獲利或負擔任何保證責任。
</p><p>
（三）本公司對本網站不提供任何明示或默示的擔保，包含但不限於權利完整、商業適售性、特定目的之適用性及未侵害他人權利。使用者使用本服務時，須自行承擔相關風險。本公司不保證本網站：將符合使用者的需求；得以不受干擾地持續運作；資料得以被即時、安全可靠、正確無誤地傳輸、處理、儲存及備份；系統、軟體及資料之錯誤，將被即時發現及更正；使用者於本網站取得之任何產品、服務、資訊或其它資料將符合使用者的期望。
</p><p>
（四）公司並不保證本網站、伺服器、網域等所傳送的電子郵件或其內容不會含有電腦病毒等有害物；亦不保證郵件、檔案或資料之傳輸儲存均正確無誤不會斷線和出錯等，因各該郵件、檔案或資料傳送或儲存失敗、遺失或錯誤等所致之損害，本公司不負賠償責任。
</p><p>
（五）使用者必須同意於使用本服務過程中所有資料記錄，均以本服務資料庫所儲存之電子資料為準，如有糾紛或訴訟，同意以本公司之電子資料為認定標準。
</p><p>
（六）使用者自本網站所取得之資訊或建議，無論其係以書面或口頭方式呈現，均不構成本公司之保證。
</p><p>
第十七條  出租人資訊
</p><p>
（一）出租人名稱：步同步移動股份有限公司
</p><p>
（二）負責人：邱胤禎
</p><p>
（三）聯絡地址：臺北市文山區指南路二段64號 創新育成中心創立方
</p><p>
（四）聯絡電子郵件：contact@ridebubu.com
</p><p>
（五）電動滑板車租賃系統 BUBU 服務使用注意事項，請參照官方網站說明。
</p>

</div>

{% endblock %}